{% extends "bootstrap/base.html" %}
{%block title %} About {% endblock %}

{% block navbar%}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Welcome!</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="jumbotron" style="background-color: cadetblue;">
    <div class="container">
      <h1>About</h1>
      <p class="lead"> 
        This blog is for me to talk about all of the internships I have completed 
        over the past 3 years and how I deperately need to find that first
        software engineering job to pay off my student loans! Tune in to hear about
        how one student went from "blah, ok programming" to "I know how to use Docker
        to package all your dependencies in one neat little package!"       
      </p>
      <a class="btn btn-primary btn-lg btn-block" href="contact">Learn more</a>
    </div>
  </div>

{% endblock %}


