{% extends "bootstrap/base.html" %}

{%block title %} Contact {% endblock %}

{% block navbar%}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Welcome!</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="jumbotron" style="background-color:darkseagreen;">
    <div class="container">
      <h1>Contact Me</h1>
      <p class="lead"> 
      The best way to contact me is to yell really loudly, or alternatively you can 
      call my cell or check out my github account:
        <br>
          <h2>1-800-666-2469</h2>
        </br>
        <br>
          <h2><a href="https://github.com/fordja3">github.com/fordja3</a></h2>
        </br>
      </p>
    </div>
  </div>

{% endblock %}


