{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block title %} Home {% endblock %}
{% block navbar%}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Welcome {{name}}!</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="jumbotron" style="background-color:mediumaquamarine;">
    <div class="container">
      <h1>Blah Blah Blog </h1>
      <p class="lead">(under construction)</p>
      <div class ="container text-center h3" >
        Welcome to my blog. Sign in to pick up where you left off
        <h2>{% if name%}{{name}}{% else %}{% endif %}      
        {{ wtf.quick_form(form) }} </h2>
        <!-- Hopefully we get to use some databases to make the data persistant. That way
             it keeps the users name from page to page, just to make it consistant.
        -->
      </div>
      <div class="container">  
      </div>
    </div>
  </div>

{% endblock %}


<!--
You are to design a Web application using Flask that has the following characteristics
• has at least 2 routes, 1 of which must be dynamic !
• supports error handling for internal server errors (unhandled exceptions) and unknown routes. !!!
• uses Jinja2 templates with some non-trivial complexity, i.e., at least 1 variable !
• uses flask bootstrap !
-->


